
<div class="w-2/6 bg-black/70 border border-white/40 rounded-xl p-2.5 flex flex-col gap-y-2.5 overflow-y-scroll">
    <!-- Mails -->
    <div class="group">
        <div class="bg-black/15 border border-white/20 rounded-lg p-2.5 group-hover:bg-white/10">
            <div class="flex flex-row justify-between gap-x-2.5">
                <div class="flex flex-row gap-x-2.5 min-w-0">
                    <p class="text-white/80 text-sm font-semibold truncate">Frida von Kleinanzeigen</p>
                    <p class="text-white/50 text-sm truncate">Frida@von.Kleinanzeigen.de</p>
                </div>
                <p class="text-white/50 text-sm shrink-0 whitespace-nowrap">3/5/26, 2:43 PM</p>
            </div>
            <div>
                <p class="text-white/80 text-sm truncate">Frühlingszeit ist Schnäppchenzeit! 🌸</p>
            </div>
        </div>
    </div>
</div>
