
{% extends 'base_auth.html' %}

{% block head %}
    {{ super() }}
    <title>Signup</title>
{% endblock %}

{% block auth_content %}
<div>
    <div class="border-b border-white/10 pb-5">
        <h1 class="text-white text-4xl tracking-tighter font-bold">Sign up</h1>
    </div>
    {% include 'components/flash_message.html' %}
    <form method="POST" action="/signup">
        <div class="flex flex-col gap-y-5 bg-[#212121] my-5 pb-10 border-b border-white/10">
            <div class="flex flex-col gap-y-2.5">
                <span class="text-xl text-white/80 font-semibold tracking-tighter">Firstname</span>
                <input class="w-full p-2.5 bg-[#171717] border border-white/10 rounded-lg text-white font-semibold" type="text" name="firstname" required=True maxlength="255">
            </div>
            <div class="flex flex-col gap-y-2.5">
                <span class="text-xl text-white/80 font-semibold tracking-tighter">Lastname</span>
                <input class="w-full p-2.5 bg-[#171717] border border-white/10 rounded-lg text-white font-semibold" type="text" name="lastname" required=True maxlength="255">
            </div>
            <div class="flex flex-col gap-y-2.5">
                <span class="text-xl text-white/80 font-semibold tracking-tighter">Username</span>
                <input class="w-full p-2.5 bg-[#171717] border border-white/10 rounded-lg text-white font-semibold" type="text" name="username" required=True maxlength="255">
            </div>
            <div class="flex flex-col gap-y-2.5 ">
                <span class="text-xl text-white/80 font-semibold tracking-tighter">Password</span>
                <div class="    relative">
                    <input id="passwordInput" class="w-full p-2.5 pr-12 bg-[#171717] border border-white/10 rounded-lg text-white font-semibold" type="password" name="password" required="True" maxlength="255">
                    <button type="button" onclick="togglePassword()" class="absolute right-3 top-1/2 -translate-y-1/2 text-white/70 hover:text-white transition-colors">
                        <!-- Eye Open -->
                        <i id="eyeOpen" data-lucide="eye" class="w-6 h-6 text-white hidden"></i>
                        <!-- Eye Closed -->
                        <i id="eyeClosed" data-lucide="eye-off" class="w-6 h-6 text-white"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="pt-5">
            <input class="w-full p-2.5 rounded-full text-white font-semibold cursor-pointer border-2 border-white/30
                  bg-rose-500 
                  transition-all duration-300 ease-in-out
                  hover:bg-rose-600 hover:-translate-y-1 hover:shadow-xl hover:shadow-rose-500/50 hover:border-white/20
                  active:scale-95
                  focus:outline-none focus:shadow-2xl focus:shadow-rose-600" type="submit" value="Sign up">
        </div>
    </form>
    <div class="flex flex-row justify-center gap-x-2.5 mt-5">
        <span class="font-semibold text-white/70">Already have an account?</span>
        <a  class="font-bold text-white" href="{{ url_for('app_account.login') }}">Login</a>
    </div>
</div>
{% endblock %}
